

html {
  background-color: hsl(3, 33%, 79%);
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2em;
  font-size: 1.25em;
  height: 100%;
}

.wrapper {
  /*add display:flex and set justify-content to space-between*/
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: 8em;
}

.div-1, .div-2, .div-3 {
  /*give the divs a width of 30%, add display:flex, set justify-content and align-items to center*/
  color: #fff;
  line-height: 1.5em;
  font-size: 1em;
  background-color: hsl(3, 33%, 79%);
  height: 300px;
  display: flex;
  width: 30%;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrapper span {
    font-size: 2em;
  }


.div-1, .div-2 {
    border-right: 1px solid rgb(255, 255, 255);
    padding-right: 30px;
  }
