

html {
  background-color: hsl(3, 33%, 79%);
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 2em;
  font-size: 1.25em;
  height: 100%;
}

.wrapper {
  /*add display:flex and set justify-content to space-between*/
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

header, footer, main {
  background-color: hsl(3, 33%, 79%);
  width: 100%;
  display: flex;
  align-items: center;
}

header {
  height: 80px;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 15px;
}

main{
  padding-top: 15px;
  font-size: .85em;
}

  .intro {
  font-size: 3em;
  font-family: 'Vollkorn', serif;
}

footer {
  height: 180px;
  justify-content: center;
  font-size: .75em;
}

.closer {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.div-1, .div-2, .div-3 {
  /*give the divs a width of 30%, add display:flex, set justify-content and align-items to center*/
  color: #fff;
  line-height: 1.5em;
  font-size: 1em;
  background-color: hsl(3, 33%, 79%);
  height: 300px;
  display: flex;
  width: 30%;
  justify-content: flex-start;
  align-items: flex-start;
}


.div-1, .div-2 {
    border-right: 1px solid rgb(255, 255, 255);
    padding-right: 30px;
  }
